@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --text-color: #282828;
}

body {
  font-family: "Pretendard", sans-serif;
  color: #282828;
  margin: 0
}


a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.25s;
}

a:hover {
  color: #4d4d4d;
  transition: 0.25s;
}
