.navbar {
  background-color: #969696;
  display: flex;
  padding: 0.125rem 0.438rem;
  justify-content: space-between;
}

.navbar_item {
  list-style: none;
}

.navbar_hamburger_icon {
  padding: 0.438rem;
}

.navbar_menu {
  display: none;
}

.navbar_icon {
  list-style: none;
  padding-right: 0.438rem;
}

@media screen and (max-width: 768px) {
  .navbar_menu {
    display: block;
  }

  .navbar_item {
    display: none;
  }

  .navbar_icon {
    display: none;
  }
}
